button{
    border: none;
    padding:2px 20px;
    font-size: 18px;
    font-weight: 500;
    background: rgba(241, 114, 40, 1);
    color: white;
    border-radius: 5px;
   

 


}

.close{
    background-color: rgba(252, 96, 5, 0.419) ;
    color: rgb(252, 95, 5);
    width:fit-content;
    padding: 2px 4px;
}
.open{
    background-color:rgba(121, 185, 60, 0.2) ;
    color: rgba(121, 185, 60, 1);
    width:fit-content;
    padding: 2px 4px;
}
.view{
    font-weight: 500;
    width: fit-content;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 4px;

}