.section-6{
   
    display: flex;
    align-items: center;
     
    ul{
        list-style: none;
        padding: 0;

        .heading{
             line-height: 50px;
            .best-deal{
                font-size: 48px;
                font-weight: 700;
                color: rgba(53, 53, 53, 1);
            }
            .cripzy{
                @extend .best-deal;
                color: rgba(255, 138, 0, 1);
                
            }
           
        }
        .description{
            color: rgba(97, 97, 97, 0.69);
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }
    }

    .section-6-right{
        
        img{
            height: 300px;
            object-fit: cover;
           border-radius: 10px;
        }
    }
}