.heading{
    text-align: center;
    font-weight: bold;
    color: rgba(241, 114, 40, 1);
}
.section-2{
    text-align: center;
    
    ul{
        list-style: none;
        padding: 0;

       img{
        height: 100px;
       }
      .box-1{
        color: rgba(67, 67, 67, 1);
        font-size: 28px;
        font-weight: 500;
       }
       .box-2{
        color:rgba(154, 152, 152, 1);
        font-size: 18px;
        font-weight: 400;
       }
    }
}